@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Open+Sans:ital,wght@0,500;1,500&display=swap");

:root {
  --color-brand-1: #f0f4f9;
  --color-brand-2: #ffffff;
  --bard-color-brand-text-gradient-stop-1: #4285f4;
  --bard-color-brand-text-gradient-stop-2: #9b72cb;
  --bard-color-brand-text-gradient-stop-3: #d96570;
  --bard-color-surface: #ffff;
  --brand-color-variant: #c4c7c5;
  --color-ash-1: #f0f4f9;
  --color-ash-2: #dde3ea;
  --color-chat-1: #f0f4f9;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.7rem;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
label {
  font-size: 2.5rem;
  font-weight: bold;
  color: #213547;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* styles.css */
.markdown-container {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.markdown-container h1,
.markdown-container h2,
.markdown-container h3,
.markdown-container h4,
.markdown-container h5,
.markdown-container h6 {
  color: #333;
}

.markdown-container p {
  color: #555;
}

.markdown-container a {
  color: #007acc;
  text-decoration: none;
}

.markdown-container a:hover {
  text-decoration: underline;
}

.markdown-container code {
  background-color: #eaeaea;
  padding: 2px 4px;
  border-radius: 4px;
}

.markdown-container pre {
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 8px;
  overflow: auto;
}

.markdown-container blockquote {
  border-left: 4px solid #ccc;
  padding-left: 10px;
  color: #666;
  margin-left: 0;
}
